



/*Raised button example
.jfx-button {
    -jfx-button-type: RAISED;
    -fx-background-color:#ebaecd;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
 .jfx-button2 {
     -jfx-button-type: RAISED;
     -fx-background-color:#ebaecd;
     -fx-font-size: 20;
     -fx-font-weight: bold italic;
     -fx-text-fill: white;
 }
 */
/* Tab pane styling*/
.tab-pane{
    -fx-background-color: #bc77a5;
    -fx-pref-width: 600;
    -webkit-fx-pref-height:50;
}

 .tab-header-background{
     -fx-background-color: #bc77a5;
 }
/* Menu bar*/

.menu-bar{
  /*  -fx-pref-width: 600;
    -webkit-fx-pref-height:30;
    -fx-font-size: 12;*/
    -fx-font-weight: bold;
    -fx-text-fill: white;

    /* -fx-background-image: url("\purple-orange-gradient.jpg");*/
}








