/*JFXbuttons for login buttons*/
/**
 * .css file for iteration2
 * @author Shiyi Liu
 * @version iteration2
 */
.jfx-button-login{
    -jfx-button-type: FLAT;
    -fx-background-color:#FFC41E;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.jfx-button-main-menu{
    -jfx-button-type: FLAT;
    -fx-background-color:#FFC41E;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-pref-width: 180;
    -fx-pref-height: 240;
}

.jfx-button-admin-main-menu-main{
    -jfx-button-type: FLAT;
    -fx-background-color:#FFC41E;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-pref-width: 230;
    -fx-pref-height: 240;
}
.jfx-button-guest-main-menu{
    -jfx-button-type: FLAT;
    -fx-background-color:#FFC41E;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-pref-width: 240;
    -fx-pref-height: 240;
}

.jfx-button-admin-main{
    -jfx-button-type: FLAT;
    -fx-background-color:#FFC41E;
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-pref-width: 400;
    -fx-pref-height: 60;
}

.jfx-button-admin-tools-main{
    -jfx-button-type: FLAT;
    -fx-background-color:#FFC41E;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-pref-width: 201;
    -fx-pref-height: 200;
    -fx-border-color: #015080;
    -fx-border-width: 1;
    -fx-background-radius: 10;
}



.jfx-button-admin-tools-main-horizontal{
    -jfx-button-type: FLAT;
    -fx-background-color:#FFC41E;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-pref-width: 268;
    -fx-pref-height: 150;
    -fx-border-color: #015080;
    -fx-border-width: 1;
    -fx-background-radius: 10;
}

.jfx-button-add{
    -jfx-button-type: FLAT;
    -fx-background-color:#FFC41E;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-pref-width: 120;
    -fx-pref-height: 35;
}

.jfx-button-zoom
{
    -jfx-button-type: FLAT;
    -fx-background-color:#ffffff;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
}

.jfx-button-OK{
    -jfx-button-type: FLAT;
    -fx-background-color:#FFC41E;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.jfx-button-cancel{
    -jfx-button-type: FLAT;
    -fx-background-color:#FFC41E;
    -fx-background-radius: 30;
}

.jfx-button_edit{
    -jfx-button-type: FLAT;
    -fx-background-color:#FFC41E;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.jfx-button-SVmain{
    -jfx-button-type: FLAT;
    -fx-background-color:#FFC41E;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-pref-width: 160;
    -fx-pref-height: 180;
    -fx-border-color: #015080;
    -fx-border-width: 1;
    -fx-background-radius: 10;

}

.jfx-button-SVmain2{
    -jfx-button-type: FLAT;
    -fx-background-color:#FFC41E;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-pref-width: 140;
    -fx-pref-height: 180;
    -fx-border-color: #015080;
    -fx-border-width: 1;
    -fx-background-radius: 10;
}

.jfx-button-SVmain3{
    -jfx-button-type: FLAT;
    -fx-background-color:#FFC41E;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-pref-width: 205;
    -fx-pref-height: 180;
    -fx-border-color: #015080;
    -fx-border-width: 1;
    -fx-background-radius: 10;
}

.jfx-button-SRBaby{
    -jfx-button-type: FLAT;
    -fx-background-color:#efffff;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-wrap-text: #015080;
    -fx-pref-width: 180;
    -fx-pref-height: 200;
    -fx-border-color: #015080;
    -fx-border-width: 1;
    -fx-background-radius: 10;
}

/* Tab pane styling*/
.tab-pane{
    -fx-background-color: #FFC41E;
    -fx-pref-width: 900;
    -webkit-fx-pref-height:50;
}
.tab .tab-label{
    -fx-text-fill: #090a0f;
    -fx-pref-height: 30;
    -fx-text-fill: #090a0f;
    -fx-font-weight: Bold;
    -fx-font-size: 14;
    -fx-text-alignment: CENTER;
}

 .tab-header-background{
     -fx-background-color: #FFC41E;
 }

.tab-pane-switch-algorithm{
    -fx-background-color: #ffc41e;
    -fx-pref-width: 900;
   -fx-border-color: #FFC41E;
    -fx-border-width: 6;
}




/* Menu bar*/
.menu-bar{
  /*  -fx-pref-width: 600;
    -webkit-fx-pref-height:30;
    -fx-font-size: 12;*/
    -fx-font-weight: bold;
    -fx-text-fill: white;

    /* -fx-background-image: url("\purple-orange-gradient.jpg");*/
}


 .menu-bar{
     width: 100%; overflow: hidden;
     -webkit-fx-pref-height:30;
     -fx-font-size: 12;
     -fx-font-weight: bold;
     -fx-text-fill:  #FFC41E;


     /* -fx-background-image: url("\purple-orange-gradient.jpg");*/
 }
 .menu{
     -fx-text-fill:  #FFC41E;
 }
 .container {width: 100%; overflow: hidden; }



/*Table view*/
.table-view{
    -fx-background-color: #ffffff;
}

.table-row-cell:odd{
    -fx-background-color: #ffffff;
    -fx-background-insets:0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even{
    -fx-background-color: #dcdcdc;
    -fx-background-insets:0, 0 0 1 0;
    -fx-padding: 0.0em;

}


.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #FFC41E;
}
.anchor_pane{
-fx-background-size: 600 400;
-fx-background-radius: 30;
-fx-border-radius: 30;
-fx-border-width:5;
-fx-border-color:  #ffc41e;
}
/*Text for view my reservations*/
.text_view_my_reservation{
    -fx-font-size: 28;
    -fx-font-weight: bold;
    -fx-text-fill: #015080;
}

/*Label settings for popups */
.label{
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: #090a0f;


}




.anchor_pane{
-fx-background-size: 600 400;
-fx-background-radius: 30;
-fx-border-radius: 30;
-fx-border-width:5;
-fx-border-color:  #ffc41e;
}
/*Text for view my reservations*/
.text_view_my_reservation{
    -fx-font-size: 28;
    -fx-font-weight: bold;
    -fx-text-fill: #015080;
}

/*Label settings for popups */
.label{
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: #090a0f;

}

.label1{
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: #fdfdff;

}

.cell-renderer{
    -fx-background-insets:  2 3 2 2;
}

.paneBabysitting{
    -jfx-button-type: FLAT;
    -fx-background-color:#efffff;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-wrap-text: #015080;
    -fx-pref-width: 180;
    -fx-pref-height: 200;
    -fx-border-color: #015080;
    -fx-border-width: 1;
    -fx-background-radius: 10;
}




